{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .top-buffer { margin-top:60px; }
    </style>
{% endblock %}

{% block body %}

    <div class="container">
        <h1>Test C#</h1>
        <h2>Question à choix multiples</h2>
        <div class="row">
            <div class="col-lg-8 col-sm-8 col-xs-8">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <p>Principium autem unde latius se funditabat, emersit ex negotio tali. Chilo ex vicario et coniux eius Maxima nomine, questi apud Olybrium ea tempestate urbi praefectum, vitamque suam venenis petitam adseverantes inpetrarunt ut hi, quos suspectati sunt, ilico rapti conpingerentur in vincula, organarius Sericus et Asbolius palaestrita et aruspex Campensis ?</p>
                  </div>
                    <div class="panel-body">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" aria-label="...">
                            </span>
                            <p class="form-control">Illud autem non dubitatur quod cum esset aliquando</p>
                        </div><!-- /input-group -->
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" aria-label="...">
                            </span>
                            <p class="form-control">Cyprum itidem insulam procul a continenti</p>
                        </div><!-- /input-group -->
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" aria-label="...">
                            </span>
                            <p class="form-control">Nunc vero inanes flatus quorundam vile esse</p>
                        </div><!-- /input-group -->
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" aria-label="...">
                            </span>
                            <p class="form-control">Vita est illis semper in fuga uxoresque</p>
                        </div><!-- /input-group -->
                  </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-4 text-center">
                <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
                    <h3>Temps restant :</h3>
                    <h1><div id="remaining_time" class="label label-default">00:03</div></h1>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12 text-center top-buffer">
                    <h4>Question 1 sur 40</h4> 
                    <div class="input-group col-lg-8 col-sm-8 col-xs-8 col-lg-offset-2">
                        <span class="input-group-addon">
                            <input type="checkbox" aria-label="...">
                        </span>
                        <p class="form-control bg-danger">"Marquer" la question</p>
                    </div><!-- /input-group -->
                </div>
            </div>
            <hr>
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="">
                    <a href="#" class="col-md-3">
                        <button type="button" class="btn btn-primary btn-lg pull-left">
                            <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true">
                            </span>
                            Question Précédente
                        </button>
                    </a>
                    <a href="#" class="col-md-5">
                        <button type="button" class="btn btn-primary btn-lg pull-right">
                            Question Suivante
                            <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true">
                            </span>
                        </button>
                    </a>
                    <a href="#" class="col-md-4 text-center">
                        <button type="button" class="btn btn-danger btn-lg">
                            Ecran de synthèse
                            <span class="glyphicon glyphicon-th-large" aria-hidden="true">
                            </span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function (e) {
        var $worked = $("#remaining_time");

        function update() {
            var myTime = $worked.html();
            var ss = myTime.split(":");
            var dt = new Date();
            dt.setHours(0);
            dt.setMinutes(ss[0]);
            dt.setSeconds(ss[1]);

            var dt2 = new Date(dt.valueOf() - 1000);
            var temp = dt2.toTimeString().split(" ");
            var ts = temp[0].split(":");

            $worked.html(ts[1]+":"+ts[2]);
            setTimeout(update, 1000);
        }

        setTimeout(update, 1000);
        });
    </script>
{% endblock %}