{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="col-md-12 text-center">
        <h1>Nom Test</h1>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Synthèse</h3>
            </div>
            <div class="panel-body row">
                <div class="col-md-12">
                    <div class="col-md-9">
                        18 questions répondues sur 20<br>
                        Modification de réponse : (Cliquer sur la réponse à modifier)
                    </div>
                    <div class="col-md-12 hidden-md hidden-lg">
                        <br>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-warning" disabled="disabled">&nbsp;&nbsp;&nbsp;&nbsp;</button> Question marquée<br>
                        <br>
                        <button type="button" class="btn btn-danger" disabled="disabled">&nbsp;&nbsp;&nbsp;&nbsp;</button> Question non répondue
                    </div>
                </div>
                <div class="col-md-12">
                   <br> 
                </div>
                <div class="col-md-9 btn-troop">
                    <button type="button" class="btn btn-inline-block btn-success">01</button>
                    <button type="button" class="btn btn-inline-block btn-success">02</button>
                    <button type="button" class="btn btn-inline-block btn-success">03</button>
                    <button type="button" class="btn btn-inline-block btn-warning">04</button>
                    <button type="button" class="btn btn-inline-block btn-success">05</button>
                    <button type="button" class="btn btn-inline-block btn-danger">06</button>
                    <button type="button" class="btn btn-inline-block btn-success">07</button>
                    <button type="button" class="btn btn-inline-block btn-success">08</button>
                    <button type="button" class="btn btn-inline-block btn-warning">09</button>
                    <button type="button" class="btn btn-inline-block btn-success">10</button>
                    <button type="button" class="btn btn-inline-block btn-success">01</button>
                    <button type="button" class="btn btn-inline-block btn-success">02</button>
                    <button type="button" class="btn btn-inline-block btn-success">03</button>
                    <button type="button" class="btn btn-inline-block btn-warning">04</button>
                    <button type="button" class="btn btn-inline-block btn-success">05</button>
                    <button type="button" class="btn btn-inline-block btn-danger">06</button>
                    <button type="button" class="btn btn-inline-block btn-success">07</button>
                    <button type="button" class="btn btn-inline-block btn-success">08</button>
                    <button type="button" class="btn btn-inline-block btn-warning">09</button>
                    <button type="button" class="btn btn-inline-block btn-success">10</button>
                    <button type="button" class="btn btn-inline-block btn-success">01</button>
                    <button type="button" class="btn btn-inline-block btn-success">02</button>
                    <button type="button" class="btn btn-inline-block btn-success">03</button>
                    <button type="button" class="btn btn-inline-block btn-warning">04</button>
                    <button type="button" class="btn btn-inline-block btn-success">05</button>
                    <button type="button" class="btn btn-inline-block btn-danger">06</button>
                    <button type="button" class="btn btn-inline-block btn-success">07</button>
                    <button type="button" class="btn btn-inline-block btn-success">08</button>
                    <button type="button" class="btn btn-inline-block btn-warning">09</button>
                    <button type="button" class="btn btn-inline-block btn-success">10</button>
                </div>
                <div class="col-md-3" >
                </div>
                <div class="col-md-12" style="margin-top: 20px;">
                    <button class="btn btn-default pull-right" type="submit">Valider le test</button>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
